mixin style-guide
    h1 H1
    h2 H2
    h3 H3
    h4 H4
    h5 H5
    p 
        +article
        +author
    strong This is a strong tag
    ul
        li List Item One
        li List Item Two
        li List Item Three
    ol
        li List Item One
        li List Item Two
        li List Item Three