mixin contact
    address.
        624 S Calhoun St
        Fort Wayne, Indiana 46802
    .phone
        a(href="tel:(260) 424-1429") (260) 424-1429
    .map
        a(href="https://www.google.com/maps/search/?api=1&query=Rigels%20Pipe%20&%20Tobacco"
            target='_blank'
        ) Map on Google