mixin events
    .events
        script#entry-template(type='text/x-handlebars-template').
            {{#each items}}
                <div class="event reveal">
                    <div class="entry">
                        <div class="body">
                            <h1 class="title">{{summary}}</h1>
                            <div class="group">
                                <h3>Who</h3>
                                <div class="organizer">Organized By: {{organizer.displayName}}</div>
                                <div class="creator">Created By: {{creator.displayName}}</div>
                            </div>
                            <div class="group">
                                <h3>When</h3>
                                <div class="begins">Begins: {{formatDate start.dateTime}}</div>
                                <div class="ends">Ends: {{formatDate end.dateTime}}</div>
                            </div>
                            <div class="group">
                                <h3>What</h3>
                                <div class="description">{{{ description}}}</div>
                            </div>
                            <div class="group">
                                {{#if location}}
                                    <h3>Where</h3>
                                    <a class="location" href="https://www.google.com/maps/search/?api=1&query={{location}}">
                                        <i class="fas fa-map-marker-alt"></i>
                                        <strong>{{{address location}}}</strong>
                                    </a>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        