include  grids/grid
include  grids/gridf
include  grids/col
include  grids/row

include  content/article
include  content/author
include  content/unsplash-cred


include mixins/ipsum
include mixins/style-guide

doctype html
html(lang="en")
	head
		title Base Template
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", 
			rel="stylesheet", 
			integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", 
			crossorigin="anonymous")    
		link(href="/css/bundle.min.css", 
			rel="stylesheet")
	body.standard
		header
			block header
				+grid
					+row
						+col("col-md-12")
							div.content(style='margin: 50px; text-align: center').
								Riegel's Pipe &amp; Tobacco
		main
			+unsplash-cred('/img/bg-brick.jpg', 'lindsaymergy')
			block main

		footer
			block footer
				+grid
					+row
						+col("col-md-12")
							div.content(style='margin: 50px; text-align: center').
								Contact Information
		script#entry-template(type='text/x-handlebars-template').
			{{#each items}}
				<div class="entry">
					<h2>{{summary}}</h2>
					<div class="body">
						Created: {{created}}<br />
						Begins: {{start.dateTime}}<br />
						Ends: {{end.dateTime}}<br />
						Description: {{description}}<br />
						Location: {{location}}<br />
					</div>
				</div>
			{{/each}}
		script(src='/js/vendors.min.js')
		script(src='/js/app.min.js')