extends base.pug

mixin page(title, url)
    //- tags can be inlined with the #[] syntax
    li #[a(href= url)= title]

//- this block will overwrite what is in template.pug
block main
    div(style='margin: 50px;')
        +grid
            +row
                +col("col-md-12")
                    +style-guide
                +col("col-md-6")
                    +style-guide
                +col("col-md-6")                
                    +style-guide