mixin events
    .events
        script#entry-template(type='text/x-handlebars-template').
            {{#each items}}
                <div class="panel">
                    <div class="entry">
                        <h2>{{summary}}</h2>
                        <div class="body">
                            Created: {{created}}<br />
                            Begins: {{start.dateTime}}<br />
                            Ends: {{end.dateTime}}<br />
                            Description: {{description}}<br />
                            Location: {{location}}<br />
                        </div>
                    </div>
                </div>
            {{/each}}
