mixin events
    .events
        script#entry-template(type='text/x-handlebars-template').
            {{#each items}}
                <div class="panel">
                    <div class="entry">
                        <h2>{{summary}}</h2>
                        <div class="body">
                            <h3>Who</h3>
                            <div class="organizer">{{organizer.displayName}}</div>

                            <h3>When</h3>
                            <div class="begis">Begins: {{formatDate start.dateTime}}</div>
                            <div class="ends">Ends: {{formatDate end.dateTime}}</div>
                            
                            <h3>What</h3>
                            <div class="description">{{{ description}}}</div>
                            
                            <h3>Where</h3>
                            <div class="location"><a href="https://www.google.com/maps/search/?api=1&query={{location}}">{{location}}</a></div>
                        </div>
                    </div>
                </div>
            {{/each}}
