//$flex-gutter: 20px;

.events {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    transition: all .5s;
    @include tablet {
        flex-direction: row;
    }
    .event {
        flex: 1 1 100%;

        @include lg-tablet {
            flex: 1 1 50%;
        }
        @include desktop {
            flex: 1 1 33%;
        }
        .entry {
            margin: 10px 0;
            height: 100%;
            
            .title {
                margin: 0;
                font-size: 30px;
                word-break: break-word;
            }
            .body {
                background-color: $rosy-brown-light;
                margin: 20px;
                border-radius: 5px;
                padding: 25px;
            }
            .location {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 18px;
                i {
                    padding: 15px;
                    font-size: 40px;
                    color: $saddle-brown-light;
                }
            }
        }
    }
}