header {
    background-color: $saddle-brown;
    color: $rosy-brown-light;
    font-size: 6rem;
    .menu {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        a {
            font-size: 25px;
            padding: 25px;
        }
    }
}